<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="venthings.shizukura.wordlab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".splash"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".musicService"
            android:enabled="true" />

        <activity
            android:name=".mainMenu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".started"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dialog"
            android:screenOrientation="landscape"  />
            <!--android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"/> -->
        <activity
            android:name=".A_lvl1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl8"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl9"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl10"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl11"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl12"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl13"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl14"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl15"
            android:screenOrientation="landscape" />
        <activity
            android:name=".A_lvl16"
            android:screenOrientation="landscape" />
    </application>

</manifest>